<div class="container" style="margin-left: 1cm;">
  <div class="social-icons" style="margin-left: 6%">
      <img
        src="../../../assets/images/jorgelee1.jpg"
        alt="aita jorge"
        style="margin-top: -0.5cm"
        class="img-fluid" style="border-radius: 100%;"
        
      />
    <div class="pie" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  
      <p> {{persona.nombre}} {{persona.apellido}}</p>
    </div>

    <div class="texto"><b>   </b></div>
 
  <div class="texto2" >
    <a href="" target="_blank"><i>  </i></a>
  </div>
  <div class="empty-space"></div>


  <div class="acercade">Acerca de</div>
 <!-- <p> {{experiencia.about}} </p>-->
  <div class="texto1">  </div>
</div>
