.acercade {
  color: rgb(58, 139, 167); /* Cambia "lightblue" por el color celeste claro que desees */
  font-size: 26px; /* Ajusta el tamaño de fuente según tus necesidades */
  font-weight: bold;
}
.texto{
  color:rgb(89, 122, 133);

}
.texto1{
  font-size:x-small  ;
  color:rgb(89, 122, 133)
}
.texto2{
  text-decoration: none;
  font-size: small ;
  color:rgb(89, 122, 133)
}
