<div class="empty-space"></div>
<div class="empty-space"></div>

  <h1 class="educa expereduc">Hard & Soft skills</h1>
  <div class="row text-center">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="45"
      [radius]="30"
      [showUnits]="false"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'12px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="35"
      [radius]="30"
      [showUnits]="false"
      [title]="'CSS'"
      [titleColor]="'blue'"
      [titleFontSize]="'12px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="45"
      [radius]="30"
      [showUnits]="false"
      [title]="'Javascript'"
      [titleColor]="'blue'"
      [titleFontSize]="'8px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="55"
      [radius]="30"
      [showUnits]="false"
      [title]="'Typescript'"
      [titleColor]="'blue'"
      [titleFontSize]="'8px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="30"
      [showUnits]="false"
      [title]="'HTTP'"
      [titleColor]="'blue'"
      [titleFontSize]="'12px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="30"
      [showUnits]="false"
      [title]="'Java'"
      [titleColor]="'blue'"
      [titleFontSize]="'12px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="30"
      [showUnits]="false"
      [title]="'GitHub'"
      [titleColor]="'blue'"
      [titleFontSize]="'11px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="30"
      [showUnits]="false"
      [title]="'Python'"
      [titleColor]="'blue'"
      [titleFontSize]="'11px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  
</div>
