<p>educacion works!</p>
<!--
<div class="card mat-card">
  <div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>


<div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div>
    <h2 class="educa expereduc">Educación</h2>
    <div class="btn-edit" style="text-align: right; padding-right: 30px">
      <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
      <a href="#" class="btn-right btn-danger"><i class="fa fa-trash"></i></a>
    </div>
  </div>
  <div>
    <ul>
      <li *ngFor="let educacion of educacionList">
        <div class="media">
          
            <img
              class="logo-image img-responsive"
              [src]="educacion.img"
              style="float: left; margin-right: 5px"
            />
          
          <div class="data-info col-md-8" style="margin-left: 80px">
            <h3 style="font-size: 14px">{{ educacion.school }}</h3>
            <p style="font-size: 14px">{{ educacion.career }}</p>
-->            <!--              <p><time>{{educacion.start}}</time> - <time> {{educacion.end}} </time></p>         -->
<!--         </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
--> 
